@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto.eot');
	src: local('☺'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype'), url('../fonts/Roboto.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


img,object,embed,video{max-width:100%;display:block;width:100%}
.ie6 img{width:100%;display:block}
body { position: relative;}
body,div,ul,li,h1,h2,h3,h4,h5,h6,p,blockquote,th,td,img{font-family:'Roboto',Sans-Serif; margin:0;padding:0;border:0; color: #505e7a;}
.clear{clear:both}
*{outline:none}
.hide{display:none}
::-moz-selection{background:none repeat scroll 0 0 #70c831;color:#FFF}

textarea, input:matches( [type="email"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="url"] ) { -webkit-appearance: none;}

h1 {font-family:'Roboto',Sans-Serif; font-size: 40px; color: #505e7a; line-height: 45px;}
h2 {font-family:'Roboto',Sans-Serif; font-size: 35px; color: #505e7a; line-height: 40px;}
h3 {font-family:'Roboto',Sans-Serif; font-size: 30px; color: #505e7a; line-height: 35px;}
h4 {font-family:'Roboto',Sans-Serif; font-size: 25px; color: #505e7a; line-height: 30px;}
h5 {font-family:'Roboto',Sans-Serif; font-size: 20px; color: #505e7a; line-height: 25px;}
h6 {font-family:'Roboto',Sans-Serif; font-size: 15px; color: #505e7a; line-height: 20px;}

p {font-family:'Roboto',Sans-Serif; font-size:14px; color:#505e7a; line-height:20px; text-align:justify; padding:5px 0}

a { color: #505e7a; text-decoration: none; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; }
a:hover { color: #000; text-decoration: underline; }

::-webkit-input-placeholder{color:#777}
:-moz-placeholder{color:#777}
::-moz-placeholder{color:#777}
:-ms-input-placeholder{color:#777}

.text-center{text-align:center}
.text-right{text-align:right !important}
.text-white{color:#FFF !important}
.text-black{color:#555 !important}
.text-green{color:#32b16e !important}
.text-blue{color:#48aff9 !important}
.text-yellow{color:#f7941d !important}
.text-light-green{color:#42c17e !important}
.text-red { color: #ff7f7f !important;}
.text-violet { color: #7d1771 !important;}
.text-capital { text-transform: uppercase !important;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #777;opacity: 0.5;}
.book-text-field::-ms-expand {display: none;}




/*-----------: Website Colors :-----------*/

.bg-color { background: #fbfbfb;}
.normal-btn-bg { background: #4bcdcb; color: #FFF;}
.selected-btn-bg { background: #604881; color: #FFF;}
.normal-border-color, .em-booking-det-cont { border: 1px solid #e6e8ee;}
.selected-border-color { border-color: #604881;}
.em-bottom-space { height:120px; display: block; }



/*----------: STEPS COLOUR :---------*/

.em-step-head li.active span { background-color: #1572c6 !important; color: #FFF; }
.em-step-head li.active, .em-step-head li.active span, .em-step-head li.active { border-color: #1572c6;}



/*----------: BUTTON NORMAL COLOUR :---------*/

.text-field-button, .em-apply-but, .my-adr-left-cont h5 a, .em-404-page p a { background: #c9efcf;}
.my-acc-edit:hover { color: #c9efcf; border-color: #c9efcf; }
input[type="radio"] + label:hover  span { border-color: #c9efcf;}



/*----------: BUTTON HOVER COLOUR :---------*/

.em-text-field-main li:hover, .em-extra-ser-tmb:hover .em-extra-ser-cont, .how-often li label:hover, .login-right-btn span:hover, .time-set li:hover, .owl-prev:hover, .owl-next:hover, .em-apply-but:hover, .my-adr-left-cont h5 a:hover, .my-book-tmbnil-btn li a.invoice, .text-field-button:hover, .tool-select:hover { background-color: #B4B4B4; color: #FFF; } 
.em-extra-ser-tmb:hover { border-color: #41a6d3;}



/*----------: BUTTON SELECTED COLOUR :---------*/

.text-field-button.active, .em-text-field-main li.selected, .em-text-field-main li:hover.selected, .em-extra-ser-tmb.selected .em-extra-ser-cont, .em-extra-ser-tmb.selected:hover .em-extra-ser-cont, input[type="radio"]:checked + label, input[type="radio"]:checked + label:hover, input[type="checkbox"]:checked + label, input[type="checkbox"]:checked + label:hover, .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a, .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a:hover, .time-set li:hover.selected, .time-set li.selected, .login-right-btn span, .my-book-tmbnil-btn li a.paynow, .box, .em-mob-icons ul ul li a:hover, #primary_nav_wrap ul ul li a:hover, .em-404-page p a:hover, .em-404-page img, .tool-select.selected { background: #1572c6; color: #FFF; }

.em-extra-ser-tmb.selected, .em-extra-ser-tmb.selected:hover  { border-color: #277d98;}

.log-remb input[type="checkbox"]:checked + label span, .address-opt-main input[type="radio"]:checked + label span { background-color: #62a6c9 !important; border-color: #62a6c9;}
input[type="radio"]:checked + label span { border-color: #277d98;}
.total-price .book-det-left p, .total-price .book-det-right p, .pignose-calendar .pignose-calendar-top .pignose-calendar-top-month, .pignose-calendar .pignose-calendar-top .pignose-calendar-top-year  { color: #277d98;}



/*----------: TIME NORMAL BG COLOUR :---------*/

.how-often li label, .time-set li, .em-num { background: #c9efcf; color: #555;}



/*----------: SELECT TWO :---------*/

:root{ --primary-color: #62a6c9; --secondary-color: #eee;}







.wrapper-main{width:100%;height:auto; overflow: hidden;}
.header-wrapper { width: 100%; }
header {width: 100%; height: auto; position: fixed; top: 0; left: 0; z-index: 99; padding: 7px 0; background: #FFF; box-shadow: 1px 1px 8px #CCC;}
header .logo { width: 300px; height: auto; padding-top: 0px !important;}


/*-------------// MENU SECTION //----------------*/

#primary_nav_wrap{ width: 100% !important; }
#primary_nav_wrap ul { list-style:none; text-align: left; position:relative; margin:0; padding: 2px 0px 0px 0px; float: right;}
#primary_nav_wrap li { position:relative; float: left; margin: 0; padding: 0px 5px;}
#primary_nav_wrap li a { display: inline-block; font-size: 13px; color: #505e7a; font-weight: normal; line-height: 20px; padding: 8px 22px; text-decoration: none; text-transform: uppercase; letter-spacing: .7px;}
#primary_nav_wrap li a:hover { color: #1572c6;}

#primary_nav_wrap ul li:hover > ul { display:block;}
#primary_nav_wrap ul ul { width:220px; display:none; position:absolute; top:100%; left:0; z-index: 999; padding:0;}
#primary_nav_wrap ul ul li {width: 100%; text-align: left; border-top: 0px solid  #d8aa07;  border-bottom: 1px solid #FFF; }
#primary_nav_wrap ul ul li a { font-family:'Open-Sans-regular',sans-serif; font-size: 13px; line-height: 20px; text-transform: none; border: 0px; padding-left: 20px; background: #FFF; color: #555 !important; padding-top: 10px; padding-bottom: 10px; border-radius: 0px; font-weight: normal; display:block }
#primary_nav_wrap ul ul li a:hover { color: #FFF !important; }
#primary_nav_wrap ul li ul li:first-child { border-top: 0px solid #242424;}
#primary_nav_wrap ul ul ul { width:240px; display:none; position:absolute;left: 100%; top: 0; z-index: 999; padding:0;}
#primary_nav_wrap ul ul.last-ul { position: absolute; left: auto; right: 0; top: 100%;}
#primary_nav_wrap ul ul li a.logout { color: #FFF !important; background: #fc7070 !important;}
#primary_nav_wrap ul ul li a.logout:hover { background: #da091e !important;}

.menu { width: 100% !important;}
.em-mob-icons { width: auto; display: none; float:right;}
.em-mob-icons ul { list-style: none; margin: 0px; padding: 0px;}
.em-mob-icons li { width: 50px; height: 46px; font-size: 22px; display: inline-block; float: right; padding-left: 5px; text-align: center; line-height: 42px; cursor: pointer;}
.em-mob-icons li:first-child {padding-left: 0px; padding-top: 5px; padding-bottom: 5px;}

header .em-back-arrow { width: 38px; height: 46px; float: left; display: none;}

select { width: 100%; height: 36px; font-size: 14px; color: #444; line-height: 30px; text-indent: .01px; border: 1px solid #e6e8ee; text-indent: 0.01px; cursor: pointer; -moz-appearance: none; -webkit-appearance: none; padding: 0 10px; background: url(../images/el-downarrow.png) no-repeat right 12px center / 14px #FFF;}
select option { border: 0 none; padding: 5px 10px;}

input[type="radio"] { display: none;}
input[type="radio"] + label span {width: 30px; height: 30px; border: 1px solid #e6e8ee; margin-top: -3px; vertical-align: middle;  border-radius: 5px;  display: inline-block; background: url("../images/el-tick.png") no-repeat center center / 14px  #FFF;  margin-right: 7px; }
input[type="radio"]:checked + label span { background: #604881 url("../images/el-tick-white.png") no-repeat center center / 14px; border: 1px solid #604881;}
input[type="radio"] + label:hover  span{ border: 1px solid;}
input[type="radio"] + label { cursor: pointer;  color: #FFF; }

input[type="checkbox"] { display: none;}
input[type="checkbox"] + label span {width: 34px; height: 34px; border: 1px solid #e6e8ee; margin-top: -3px; vertical-align: middle;  border-radius: 5px;  display: inline-block; background: url("../images/el-tick.png") no-repeat center center / 14px  #FFF;  margin-right: 7px; }
input[type="checkbox"]:checked + label span {background: #FFF url("../images/el-tick-violet.png") no-repeat center center / 14px; border: 1px solid #604881;}
input[type="checkbox"]:checked + label:hover  span{ border: 1px solid #604881;}
input[type="checkbox"] + label:hover  span{ border: 1px solid #4bcdcb;}
input[type="checkbox"] + label { cursor: pointer;  color: #FFF;}
input[type="radio"]:checked + label, input[type="radio"]:checked + label:hover, input[type="checkbox"]:checked + label, input[type="checkbox"]:checked + label:hover { border: 0px;}

.text-field { width: 100%; height: 36px; color: #555; font-size: 14px; line-height: 30px; padding: 3px 13px; text-indent: 0.01px; background: #fff;  border: 1px solid #e6e8ee; border-radius: 3px;}

.text-field-big { width: 100%; height: 80px; color: #555; font-size: 14px; line-height: 20px; padding: 3px 13px; text-indent: 0.01px; background: #fff;  border: 1px solid #e6e8ee; border-radius: 3px;}

.text-field-button { width: 100%; height: auto; border: 0px; cursor: pointer; font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #555; line-height: 20px; font-weight: bold; text-align: center; text-transform: uppercase; /*background: #4bcdcb;*/ padding: 10px 15px; border-radius: 5px;}
/*.text-field-button:hover { background: #604881;} */

.em-booking-content-section { padding-top: 100px; min-height: 100vh;}
.em-booking-content-box {}
.em-booking-content-main {}
.em-booking-content {}

.em-step-heading-main { margin-bottom: 20px;}
.em-step-head {}
.em-step-head h2 { font-size: 26px; text-align: center; padding-bottom: 15px;}
.em-step-head ul { list-style: none; margin: 0px; padding: 0px; text-align:center; }
.em-step-head li { width: 20%; display: inline-block; border-top: 1px solid #e6e8ee;}
.em-step-head li:first-child { width: 0px;}
/*.em-step-head li.active { border-color: #2eca77;}*/

.em-step-head li span {width: 30px; height: 30px; display: block; border-radius: 50%; border: 1px solid #e6e8ee; margin-top: -15px; margin-right: -5px; background: url(../images/el-tick.png) no-repeat center center / 12px #FFF; float: right;}

/*.em-step-head li.active, .em-step-head li.active span { border-color: #4bcdcb;}*/
.em-step-head li.active span label {}
.em-step-head li.active span { background: url(../images/el-tick-white.png) no-repeat center center / 12px;  float: right;}
.em-head1, .em-head2, .em-head3, .em-head4, .em-head5 { width: 100% !important; height: auto !important;}
/*.em-head2, .em-head3, .em-head4, .em-head5 { display: none;}*/

.em-booking-content-left { padding-right: 50px; }
.em-booking-content-right { }
.em-booking-det-cont { border-radius: 5px; background: #FFF; padding-bottom: 20px;}
.book-det-cont-set { margin-top: 40px;}
.em-service-scroll-main {}
.em-ser-scroll-thumb-main { margin-right: -7.5px;}
/*.em-ser-scroll-thumb { padding: 20px 15px 15px 15px;}
.em-ser-srl-tmb-image {}
.em-ser-srl-tmb-image img { width: 80%; margin: 0 auto;}*/

.em-ser-scroll-thumb { padding: 15px 15px 15px 15px;}
.em-ser-srl-tmb-image {}
.em-ser-srl-tmb-image img { width: 98%; margin: 0 auto; border-radius: 5px;}

.em-ser-srl-tmb-cont {}
.em-ser-srl-tmb-cont p { font-size: 13px; color: #505e7a; line-height: 17px; text-transform: uppercase; text-align: center; padding: 15px 0px 15px 0px;}
.em-ser-srl-tmb-cont a {}
.em-ser-srl-tmb-cont a:hover {}
.em-ser-srl-tmb-image {}
.em-ser-scroll-thumb-main .item { /*margin: 0px 7.5px;*/ margin-right: 10px;}
.em-ser-scroll-thumb .text-field-button { font-size: 12px; line-height: 20px; padding: 7px 15px;}
.em-field-main { padding-top: 15px; padding-bottom: 0px;}
.em-field-main p {} 

.em-text-field-main {}   


.em-box-3 {width: 150px !important;}
.em-box-3.em-text-field-main li { width: 33.33%; }



.my-acc-ans-cont .text-field { width: 100%; font-size: 18px; background: #FFF; border: 0px; padding-left: 0px; padding-top: 0px;}
.my-acc-ans-cont.edit-details .text-field { background: #eee; padding-left: 15px;}
.edit-details .text-field { background: #eee; padding-left: 15px;}

.em-text-field-main ul { margin:0px; padding: 0px; list-style: none;  border: 1px solid #e6e8ee; border-radius: 3px; overflow: hidden; } 
.em-text-field-main li { width: auto; height: 36px; float: left; display: inline-block; font-size: 14px; color: #555; text-align: center; line-height: 36px; text-transform: uppercase; border-right: 1px solid #e6e8ee; cursor: pointer;}
.em-text-field-main li.selected, .em-text-field-main li:hover.selected { cursor: default;}
.em-text-field-main li:first-child { border-radius: 3px 0px 0px 3px;}
.em-text-field-main li:last-child { border: 0px; border-radius: 0px 3px 3px 0px;}

/*.em-text-field-main li:hover { background-color: #4bcdcb; color: #FFF;}
.number-of-hours li { width: 12.5%;}
.cleaning-materials li { width: 50%;}
.number-of-visits li { width: 12.5%;}
.number-of-visits li:first-child { width: 50%;}*/

.em-box-8 li { width: 12.5%;}
.em-box-2 li { width: 50%;}
.em-box-1-5 li { width: 12.5%;}
.em-box-1-5 li:first-child { width: 50%;}

.how-many-maids ul { width: auto; display: inline-block;}
.how-many-maids li { width: 36px;}
.how-many-maids li.num-maids { width: 75px;}
.how-many-maids li.num-maids .text-field { border: 0px; text-align: center; border-radius: 0px;}
.em-minus { background: url(../images/el-minus.png) no-repeat center center / 14px;}
.em-plus { background: url(../images/el-plus.png) no-repeat center center / 14px;}
.sp-total-price-set.em-plus { background: url(../images/el-plus.png) no-repeat center center / 14px;}
.em-minus:hover { background: url(../images/el-minus-white.png) no-repeat center center / 14px;}
.em-plus:hover { background: url(../images/el-plus-white.png) no-repeat center center / 14px;}

.owl-wrapper-outer { position: relative;}
.owl-buttons { width: 100%; height: 1px; /*right: 110px;*/ position: absolute; bottom: 57%; left: 0px; z-index: 90;}
.owl-prev, .owl-next { width: 34px; height: 34px; text-align: center; float: right; border-radius: 50%;}
.owl-prev { float: left;}
.owl-next { float: right;}
.owl-prev { background: url(../images/el-leftarrow-white.png) no-repeat center left 48% / 14px #1572c6; margin-left: -12px;}
.owl-next { background: url(../images/el-rightarrow-white.png) no-repeat center left 50% / 14px #1572c6; /*margin-right: -12px*/}
/*.owl-prev:hover, .owl-next:hover { background-color: #4bcdcb;}d5d9e3*/

.owl-pagination { display: none;}

.book-det-cont-set-main { padding: 15px 0px 20px 0px;}
.book-det-cont-set-main h5 { padding: 0px 0px 0px 30px;}

.em-extra-ser-set { padding: 0px 30px;}
.em-extra-ser-tmb { margin-bottom: 15px; cursor: pointer; border: 1px solid #e6e8ee; border-radius: 5px; overflow: hidden;}
.em-extra-ser-img { padding-top: 10px; padding-bottom: 10px; border-radius: 5px;}
.em-extra-ser-cont { font-size: 14px; line-height: 20px; padding: 18px 0px 0px 20px;}
.em-extra-ser-cont span { font-weight: bold;}
.em-extra-ser-tmb.selected, .em-extra-ser-tmb.selected:hover  { cursor: default;}
/*.em-extra-ser-tmb.selected .em-extra-ser-cont, .em-extra-ser-tmb.selected:hover .em-extra-ser-cont  { color: #FFF; background: #604881;}*/
/*.em-extra-ser-tmb:hover { border-color: #4bcdcb;}*/
/*.em-extra-ser-tmb:hover .em-extra-ser-cont  { color: #FFF; background: #4bcdcb;}*/

.em-booking-det-cont.book-det-cont-set { border-radius: 5px 5px 0px 0px;}
.em-booking-det-cont.em-next-btn { border-radius: 0px 0px 5px 5px; border-top: 0px;}

.em-next-btn { padding: 0px 30px 0px 30px;}
.em-next-btn-set {}
.em-next-btn-left {}
.em-back-arrow { width:50px; height: 82px; background: url(../images/el-leftarrow.png) no-repeat left center / 20px; padding: 0px; margin: 0px; cursor: pointer; display: block;}
.em-back-arrow:hover { background: url(../images/el-leftarrow-green.png) no-repeat left center / 20px;}
.em-next-btn-right { text-align:right; padding: 20px 0px;}
.em-next-btn-right .text-field-button { width:auto; padding-left: 80px; padding-right: 80px; }

.book-sum-main {}
.book-det-left {}
.book-det-right {}
.book-det-right p { text-align: right;}
.book-details-main-set { border-bottom: 1px solid #FFF;}
.summary-set h5 { padding: 20px 30px 10px 30px;}
/*.date-time-det { display: none;}*/
.book-details-main-set .book-details-main { padding: 0px 30px 0px 30px}
.book-details-main-set h6 { font-size: 15px; text-transform: uppercase; background: #e6e8ee; padding: 10px 30px;}

.total-price {}
.total-price .book-det-left p, .total-price .book-det-right p { font-size: 20px;}

.book-promo-set { padding: 0px 0px 20px;}
.promo-text { font-size: 13px; color:  #555; line-height: 16px; padding: 15px 0px 5px;}
.promo-main { position: relative;}
.em-apply-field { width: 100%; height: 36px; background: #fff; border: 1px solid #ccc; color: #333; font-size: 15px; line-height: 30px; padding: 0 15px; text-indent: 0.01px;}
.em-apply-but { border: 0 none; bottom: 2px; color: #555; display: block;font-size: 12px; line-height: 20px; padding: 6px 20px; position: absolute; right: 2px; z-index: 9; cursor: pointer; text-transform: uppercase;}
/*.em-apply-but:hover { background: #1b5880; color: #FFF;}*/


.sp-total-price-set, .coupon_message { display: none;}
.em-booking-content-right h5 span {width:  15px; float: right; cursor: pointer; display: none; margin-top: 6px;}
.em-ser-scroll-thumb.selected .text-field-button { background: #604881;}

/*.text-field-button.active { background: #604881;}*/

footer { width: 100%; background: #e6e8ee; padding: 5px 0px; position: absolute; left:0px; bottom: 0px; z-index: 999;}
.footer-main {}
.footer-main p { font-size: 11px; color: #555;}
.footer-copy-right {}
.footer-left {}
.footer-right {}
.design {}
.design p { float:right;}
.azinova-logo { width: 75px; height:31px; float:right; background: url(../images/emaid-logo.png) no-repeat left top / cover; margin-left: 5px;}

.step1 {}
.step1, .step2, .step3, .step4, .step5 { width: 100% !important;}
/*.step2, .step3, .step4, .step5 { display: none;}*/
.step2 .book-det-cont-set { margin-top: 0px;}
.step1 .em-field-main { padding-bottom: 10px;}

.how-often ul { list-style: outside none none; margin: 0; padding: 0;}
.how-often li { border-radius: 5px; display: inline-block; margin-right: 15px;}
.how-often li:last-child { margin-right: 0px;}
.how-often li label {/*width: 150px;*/ width: 140px; font-size: 13px; color: #333; display: inline-block; border-radius: 5px; /*background: #d3f0f7;*/ padding: 9px 20px 6px 6px; margin: 0px;}
.how-often li input[type="radio"] + label span { border: 0px; background: url("../images/el-tick.png") no-repeat center center / 14px  #FFF;}
.how-often li input[type="radio"]:checked + label span { background: #FFF url("../images/el-tick-violet.png") no-repeat center center / 14px; border: 0px;}
.how-often li input[type="radio"] + label:hover  span{ border: 0px; background: url("../images/el-tick.png") no-repeat center center / 14px #FFF;}
.how-often li input[type="radio"]:checked + label:hover span { background: #FFF url("../images/el-tick-violet.png") no-repeat center center / 14px;}
/*.how-often li label:hover {background: #4bcdcb; color: #FFF;}*/

.address-option {}
.address-option li.home input[type="radio"] + label span { border: 0px; background: url("../images/el-add1.png") no-repeat center center / 20px  #FFF;}
.address-option li.home input[type="radio"]:checked + label span{ border: 0px; background: url("../images/el-add1-violet.png") no-repeat center center / 20px  #FFF;}
.address-option li.office input[type="radio"] + label span { border: 0px; background: url("../images/el-add2.png") no-repeat center center / 20px  #FFF;}
.address-option li.office input[type="radio"]:checked + label span{ border: 0px; background: url("../images/el-add2-violet.png") no-repeat center center / 20px  #FFF;}
.address-option li.other input[type="radio"] + label span { border: 0px; background: url("../images/el-add3.png") no-repeat center center / 20px  #FFF;}
.address-option li.other input[type="radio"]:checked + label span{ border: 0px; background: url("../images/el-add3-violet.png") no-repeat center center / 20px  #FFF;}

.time-set { position: relative;}
.time-set ul { margin: 0px; padding: 0px; list-style: none;}
.time-set li { display: inline-block; float: left; font-size: 12px; margin: 0px 5px 10px 0px; padding: 5px; border-radius: 5px; cursor: pointer; cursor: pointer; /*background: #d3f0f7;*/}
.tick-mark {width: 24px; height: 24px; float: left; border-radius: 5px; background: url(../images/el-tick.png) no-repeat center center / 12px #FFF; margin: 0px;}
.tick-mark img {width: 10px; height: 8px; margin: 9px auto 0; }
.tick-text {float: left; color: #333; padding: 0px 8px; margin: 3px 0px 0px 0px;}
.time-set li.selected { cursor: default;}
.time-set li.selected .tick-mark { background: url(../images/el-tick-violet.png) no-repeat center center / 14px #FFF;}
.time-set li.selected .tick-text { color: #FFF;}
.time-set li.selected:hover .tick-mark {background: url("../images/el-tick-violet.png") no-repeat center center / 14px #FFF;}
/*.time-set li:hover.selected { background: #604881}*/
/*.time-set li:hover { background: #4bcdcb }*/
.time-set li:hover .tick-mark {background: url(../images/el-tick.png) no-repeat center center / 12px #FFF;}
.time-set li:hover .tick-text { color: #FFF;}
.time-set ul span { color: #555; display: block; font-weight: bold; padding: 0 0 8px; width: 100%;}

.em-often-section-box.how-often { padding-top: 20px;}
.em-date-section-box.calendar-box {padding-top: 30px;}
.em-time-section-box.time-set {padding-top: 30px;}
.log-remb input[type="checkbox"] + label, .log-remb input[type="checkbox"] + label:hover { color: #555 !important; font-size: 14px; background: none !important;}

.login-section, .register-section{width: 100% !important; padding-top: 20px;}
.login-section a { color: #505e7a; text-decoration: underline;}
.login-left-set { padding-bottom: 40px;}
.login-right-set {}
.login-right-image {padding-top: 60px;}
.login-right-image img { width: 70%; margin: 0 auto;}
.login-right-btn { text-align:center; padding-top: 30px;}
.login-right-btn span { font-size: 13px; color: #FFF;  line-height: 20px; /*background: #604881;*/ padding: 8px 20px; border-radius: 5px; display: inline-block; cursor: pointer;}
/*.login-right-btn span:hover { background:  #555;}*/
.phone-number-set {}
.phone-number-set .text-field { background: url(../images/uae-flag.jpg) no-repeat left 5px top 5px / 35px;}
.password-set { position: relative;}
.password-set-btn { width: 36px; height: 36px; display: block; background: #e6e8ee; text-align: center; position: absolute; right: 0; top: 0px; z-index: 999; padding-top: 5px; border-radius: 0px 5px 5px 0px; cursor: pointer;}
.password-set-btn:hover { background: #4bcdcb; color: #FFF;}
.login-section { display: none;}
.step4 .book-det-cont-set-main { padding-top: 20px;}

.map-view { padding: 30px 30px 0; position: relative;}
.map-search { width: 86%; position:absolute; left: 7%; top: 48px; z-index:9; }

.map-view iframe {border: 1px solid #e6e8ee; border-radius: 5px;}
.res-log-btn {font-size: 13px; color: #FFF; line-height: 20px; background: #2772c4; padding: 5px 15px; border-radius: 5px; display: inline-block; cursor: pointer; float: right;}

.disinfection-cleaning-service .em-box-1-5 li:first-child, .deep-cleaning-service .em-box-1-5 li:first-child { width: 37.5%;}
.house-cleaning-service {width: 100% !important;}
.disinfection-cleaning-service {width: 100% !important; display: none;}
.disinfection-cleaning-home { width: 100% !important; }
.disinfection-cleaning-office { width: 100% !important; display: none;}

.deep-cleaning-service {width: 100% !important; display: none;}
.deep-cleaning-home { width: 100% !important; }
.deep-cleaning-office { width: 100% !important; display: none;}

.carpet-cleaning-service {width: 100% !important; display: none;}

.sofa-cleaning-service {width: 100% !important; display: none;}
.normal-sofa { width: 100% !important; }
.L-shape-sofa { width: 100% !important; display: none;}

.mattress-cleaning-service { width: 100% !important; display: none;}
.mattress-cleaning-service .how-often li { margin-bottom: 10px;}
.mattress-cleaning-service .how-often li label { width: auto;}

.sofa-cleaning-service .how-often li { margin-bottom: 10px;}
.sofa-cleaning-service .how-often li label { width: auto;}

.success .date-time-det { display: block;}
.success .book-details-main-set h6 { background: none;}
.success .book-details-main-set h5, .success .book-details-main-set h6 { font-size: 17px; line-height: 25px; padding-bottom: 0px;}
.success .summary-set { padding-bottom: 15px;}
.success-right { background: url(../images/payment-success-right.png) no-repeat right bottom / 96%;}
.success-left .success-message { background: #d3f0f6; }
.success-left .success-message h3 {font-size: 22px; line-height: 24px; background:url(../images/success.gif) no-repeat left center / 75px; padding: 30px 0px 30px 90px;}
.success-left .success-message h3 span {font-size: 16px; line-height: 20px; padding: 0px 0px;}
.success .summary-set .service-type { padding-top: 0px;}

.payment-fail {} 
.success-left.payment-fail .success-message { background: #fc7070;}
.success-left.payment-fail .success-message h3 { background:url(../images/failed.gif) no-repeat left center / 75px; color: #FFF;}
.success-left.payment-fail .em-booking-det-cont { border-color: #fc7070;}

.min-vh-90 { min-height: 75vh !important;}

.popup-main { width: 100% !important; background: rgba(0, 0, 0, 0.5); position: fixed; top:0px; left: 0px; z-index: 9999; display: none; }
.popup-content { }
.popup-content h4 {}
.otp-set .text-field { text-align: center;}

.otp-set-main { padding: 23px 30px 30px;}
.otp-set-main h5 { padding-bottom: 5px;}
.otp-set-main h5 span { width: 25px; float: right; cursor: pointer; margin-top: -3px; padding: 5px;}
.otp-set-main p { color: #999}
.otp-set-main p span { font-size: 16px; font-weight: bold; color: #555;}

.forgot-password-popup {}
.forgot-password-popup .text-field { text-align: left;}


.signin-set-main { padding: 23px 30px 30px;}
.signin-set-main h5 { padding-bottom: 5px;}
.signin-set-main h5 span { width: 25px; float: right; cursor: pointer; margin-top: -3px; padding: 5px; margin-right: -4px; }
.signin-set-main p { color: #999}
.signin-set-main p span { font-size: 16px; font-weight: bold; color: #555;}


.em-width-auto.how-often li label { width: auto;}
.L-shape-sofa .how-often li { margin-right: 10px;}
.L-shape-sofa .how-often li label { padding-right: 15px;}
.L-shape-sofa .how-often li label span, .L-shape-sofa input[type="checkbox"] + label span { margin-right: 0px;}
.L-shape-sofa .how-often li:last-child { margin-right: 0px;}

.em-field-main p span { color: #3fc1bf;}

.em-terms-and-condition-main {  padding: 30px 30px 0px 30px;}
.em-terms-and-condition { height: 150px; overflow-y: scroll; padding: 0px 0px;}
.em-terms-and-condition ul { list-style: none; margin: 0px;}
.em-terms-and-condition li { width: 100%; display: inline-block; font-size: 13px; line-height: 18px; padding-bottom: 15px;}
.em-num {float: left; width: 26px; height: 26px; display: block; text-align:center; line-height: 24px; border-radius: 50%;}
.em-num-cont { width: 95%; float: left; padding-left: 15px; margin-top: -3px;}
.em-terms-and-condition-main h6 { padding-bottom: 15px;}

.duration-list li { width: 14.27777777777777777777%; }
#month_div { margin-bottom: 30px;}
.em-text-field-main ul#monthDuration { border-bottom: 0px;}
.em-text-field-main ul#monthDuration li { border-bottom: 1px solid #e6e8ee;}
.em-text-field-main ul#monthDuration li:last-child { width: 28.5%;}

.log-remb input[type="checkbox"]:checked + label span {background: url("../images/el-tick-white.png") no-repeat center center / 14px; border: 1px solid;} 
.terms-check { padding: 20px 30px 10px;}
.bok-his-main { background: #FFF;  border-top: 1px solid #CCC; border-left: 1px solid #CCC;}
.bok-his-tab { text-align:center; border-bottom: 1px solid #CCC; border-right: 1px solid #CCC; padding: 30px 0px;}
.bok-his-cont-main {background: #FFF; border-bottom: 1px solid #CCC; border-left: 1px solid #CCC;  border-right: 1px solid #CCC;}
.bok-his-cont {}

.my-book-tab-hed { border-top: 1px solid #e6e8ee; border-right: 1px solid #e6e8ee;}
.my-book-tab { border-bottom: 1px solid #e6e8ee; border-left: 1px solid #e6e8ee;}
.my-book-tab p { font-size: 20px; text-align:center; padding: 30px 0px;}
.em-tab1, .em-tab2 { cursor: pointer; background: rgba( 255, 255, 255, 0.5);}

.my-book-tab-hed .active { border-left: 1px solid #4bcdcb; border-top: 1px solid #4bcdcb; border-right: 1px solid #4bcdcb; margin-bottom: -1px; z-index: 9; background: #FFF; border-bottom: 0px;}

.my-book-tmbnil-main {border-bottom: 1px solid #e6e8ee; border-right: 1px solid #e6e8ee;}
.my-book-tmbnil-cont-main { padding: 20px 30px 30px 30px !important;}
.my-book-cont-tab-main { border: 1px solid #4bcdcb;}
.my-book-cont-tab-main h5 span { float: right; font-size: 16px; line-height: 30px;}
.em-tab-cont1, .em-tab-cont2 { width: 100% !important;}
.em-tab-cont2 { display: none;}

.my-book-tmbnil-btn { margin: 0px; padding: 15px 0px 0px 0px;}
.my-book-tmbnil-btn ul { list-style: none; margin: 0px; padding: 0px;}
.my-book-tmbnil-btn li { display: inline-block;  float: left; padding-right: 15px;}
.my-book-tmbnil-btn li:last-child { float: right; padding-right: 0px;}
.my-book-tmbnil-btn li a { font-size: 12px; color: #FFF; text-decoration: none; padding: 5px 20px; display: block; border-radius: 3px;}
.my-book-tmbnil-btn li a.cancel { background: #fc7070;}
.my-book-tmbnil-btn li a:hover.paynow, .my-book-tmbnil-btn li a:hover.invoice, .my-book-tmbnil-btn li a:hover.cancel {background: #555;}

.popup-main.booking-history-popup { /*display: block;*/}
.book-his-pop-main { padding: 0px 0px 30px 0px;}
.book-his-pop-main h5 { padding-bottom: 5px;}
.book-his-pop-main h5 span { width: 25px; float: right; cursor: pointer; margin-top: -3px; padding: 5px;}
.book-his-pop-main p { color: #999}
.book-his-pop-main p span { font-size: 16px; font-weight: bold; color: #555;}
.book-his-pop-main .em-booking-content-right, .book-his-pop-main  .em-booking-content-right h5 span { display: block;}

.my-account-main {}
.my-account-title-main { padding-top: 30px;}
.my-account-title-photo-main { background: url(../images/man-bg.png) no-repeat center center / 400px;}
.my-account-title-photo { position: relative;width: 130px; height: 130px; margin: 0 auto; border-radius: 50%; background: /*url(../images/man-icon.png)*/ no-repeat center bottom / 120px #ccc;}
.my-account-title-photo > img { border-radius: 50%;}
.my-account-title-photo > span:after {
	font-family: FontAwesome;
	font-weight: 900;
	content: "\f040";
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgb(189, 189, 189);
	top: 0;
	left: 120px;
	background: white;
	color: rgb(180, 180, 180);
	align-items: center;
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.my-account-title-photo>span:hover::after {
	background: rgb(241, 241, 241) !important;
	color: rgb(182, 182, 182);
}
.my-account-title-cont { padding-top: 15px;}

.em-booking-det-cont.my-account-content-main { padding: 5px 30px;}
.my-account-content-main ul { list-style: 0px; margin: 0px; padding: 0px;}
.my-account-content-main li { display: block; font-size: 15px; border-bottom: 1px solid #eee; padding: 14px 0px;}


.my-account-content-main ul.link-set li { padding: 0px 0px;}
.my-account-content-main ul.link-set li a { color: #505e7a; padding: 14px 0px; display: block;}
.my-account-content-main ul.link-set li a:hover {color: #333; text-decoration: none;}


.my-account-content-main li:last-child { border-bottom: 0px;}
.my-account-content-main li:hover { color: #4bcdcb;}
.my-account-content-main ul.link-set li { background: url(../images/el-rightarrow.png) no-repeat center right / 16px; cursor: pointer;}
.my-acc-cont-main { position: relative;}
.my-acc-que-cont { font-size: 14px; color: #7f7f7f;}
.my-acc-ans-cont, .my-acc-ans-cont .text-field {font-size: 18px;}

.my-acc-edit { width: 36px; height: 36px; text-align: center; line-height: 32px; position: absolute; top: 5px; right: 0px; border-radius: 5px; border: 1px solid #CCC; cursor: pointer; z-index: 10; opacity: 0.5; background: #FFF; }
.my-acc-edit:hover, .my-acc-delete:hover { opacity: 1;}

.my-acc-delete { width: 36px; height: 36px; text-align: center; line-height: 32px; position: absolute; top: 5px; right: 50px; border-radius: 5px; border: 1px solid #CCC; cursor: pointer; z-index: 10; opacity: 0.5; background: #FFF; }

.my-acc-delete:hover { color: #F00; border-color: #F00;}

.my-adr-left-cont {}
.my-adr-left-cont h5 a {font-size: 12px; color: #FFF; line-height: 20px; float: right; text-transform: uppercase; float: right; text-decoration: none; padding: 5px 20px; display: inline-block; border-radius: 3px; }
 .my-adr-left-cont h5 a:hover { background: #555;}

.address-opt-main {}
.address-opt-main label { width: 100%; margin-bottom: 0px;}
.address-opt-main input[type="radio"] + label, .log-remb input[type="radio"] + label:hover { color: #555; font-size: 14px; background: none;}
.address-opt-main input[type="radio"]:checked + label span {background: url("../images/el-tick-white.png") no-repeat center center / 14px; border: 1px solid;}
.address-opt-main input[type="radio"]:checked + label, .address-opt-main input[type="radio"]:checked + label:hover { background:  none;}

.address-opt-main  input[type="radio"] + label span { width: 36px; height: 36px; float: left; margin-right: 15px; margin-top: 3px;}
.col-sm-12.my-acc-cont-main.address-opt { float: left; width: 90%;}



.add-new-adrs .map-search { width: 96%; left: 2%; }

.add-new-adrs .how-often li { display: inline-block !important; border-bottom: 0px; padding: 0px 0px 15px 0px !important; margin-bottom: 0px;}
.add-new-adrs .how-often ul { padding-bottom: 10px;}



.my-account-content-main .address-opt-main input[type="radio"]:checked + label span { background: url("../images/el-add3-white.png") no-repeat center center / 26px;}




.popup-main.login-popup {}
.signin-set-main { max-width: 600px !important;} 



.em-error { float: right; font-size: 12px; color: #F00;}








.em-mob-icons ul li:hover > ul { display:block;}
.em-mob-icons  ul ul { width:220px; display:none; position:absolute; top:100%; right:0; z-index: 999; padding:0;}
.em-mob-icons ul ul li {width: 100%; height: auto; text-align: left; border-top: 0px solid  #d8aa07;  border-bottom: 1px solid #FFF; padding-left: 0px; }
.em-mob-icons  ul ul li a { font-family:'Open-Sans-regular',sans-serif; font-size: 13px; line-height: 20px; text-transform: none; border: 0px; padding-left: 20px; background: #FFF; color: #555 !important; padding-top: 10px; padding-bottom: 10px; border-radius: 0px; font-weight: normal; display:block; text-decoration: none; }
.em-mob-icons  ul ul li a:hover { color: #FFF !important;}
.em-mob-icons  ul li ul li:first-child { border-top: 0px solid #242424;}

.em-mob-icons  ul ul li a.logout { color: #FFF !important; background: #fc7070 !important;}
.em-mob-icons ul ul li a.logout:hover { background: #da091e !important;}





.popup-main.remove-address-popup { }
.delete { background: #fc7070 !important;}
.delete:hover { background: #da091e !important;}



.em-404-page { width: 500px;}
.em-404-page p { text-align: center; font-size: 18px; line-height: 24px; padding-top: 40px;}
.em-404-page p a { color: #FFF; padding: 5px 10px; text-decoration: none; display: inline-block;}




.password-set-btn { 
	 width: 30px !important;
     display: flex !important;
     align-items: center !important;
     justify-content: center !important;
     padding: 0px !important;
}








/**, *::after,
*::before {
	box-sizing: border-box
}

html {
	padding: 1rem;
	background-color: #FFF;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}*/

#payment-form {
	width: 100%;
	margin: 0 auto
}



iframe {
	width: 100%
}

.one-liner { width: 100%;
	display: flex;
	flex-direction: column;
}

#pay-button {
	border: none;
	border-radius: 3px;
	color: #FFF;
	font-weight: 500;
	height: 40px;
	width: 100%;
	background-color: #999;
	/*box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.4)*/
}

#pay-button:active {
	background-color: #195880;
	/*box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.4)*/
}

#pay-button:hover {
	background-color: #41a6d3;
	/*box-shadow: 0 2px 5px 0 rgba(19, 57, 94, 0.4)*/
}

#pay-button:disabled {
	background-color: #DDD; color: #999;
	box-shadow: none
}

#pay-button:not(:disabled) {
	cursor: pointer
}

.card-frame {
	border: solid 1px #13395E;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 8px;
	height: 40px;
	box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.2)
}

.card-frame.frame--rendered {
	opacity: 1
}

.card-frame.frame--rendered.frame--focus {
	border: solid 1px #13395E;
	box-shadow: 0 2px 5px 0 rgba(19, 57, 94, 0.15)
}

.card-frame.frame--rendered.frame--invalid {
	border: solid 1px #D96830;
	box-shadow: 0 2px 5px 0 rgba(217, 104, 48, 0.15)
}

.success-payment-message {
	color: #13395E;
	line-height: 1.4
}

.token {
	color: #b35e14;
	font-size: 0.9rem;
	font-family: monospace
}

@media screen and (min-width: 31rem) {
	.one-liner {
		flex-direction: row
	}
	.card-frame {
		width: 100%;
		margin-bottom: 0
	}
	#pay-button {
		width: 200px;
		margin-left: 0px
	}
}


.coupon_message-main { color: #ff4d00; font-size: 13px; line-height: 17px; padding: 10px 0px 0px 0px; position: relative; overflow: hidden;}
.coupon_message {  color: #ff4d00; font-size: 13px; line-height: 17px; background: url(../images/el-warring.png) no-repeat center left / 33px; display: none; padding-left: 42px;}
.small-close-btn { width: 12px; height: 12px; position: absolute; top: 10px; right: 10px; z-index: 9; cursor: pointer;}

.mob-coupon_message { width: 100% !important; display: none; }



.n-tamara-bg { background: url("../images/tmara-bg.jpg") no-repeat center center / 100%;}

.package-list-tmb-image {border-radius: 5px; overflow: hidden;}
.package-list-tmb-image img { transition: transform 0.5s;}
.package-list-tmb:hover .package-list-tmb-image img { transform: scale(1.2);}

.package-list-tmb-cont { margin-bottom: 70px;}
.package-list-tmb-cont h5 { padding: 12px 0px 5px;}
.n-pice-set {}
.n-pice-set label { font-size: 14px; margin-right: 5px;}
.n-pice-set span { font-size: 22px; font-weight: bold;}
.n-real-price { color: #F00; text-decoration: line-through;}


.package-list-tmb-cont .text-field-button { font-size: 13px;
font-weight: normal;
padding: 6px 20px;
margin-top: 5px;
display: inline-block;
width: auto; text-decoration: none;}


.n-upi-set.em-extra-ser-img img { width: 80%; margin: 0 auto;}



.pra-image {
  width: 400px;
  height: auto;
  overflow: hidden;
  margin: 12px 30px 20px 0px; border-radius: 5px; overflow: hidden;
}


.n-package-payment-set p {font-size: 14px;
	line-height: 16px;
	padding: 0px 0px 7px;}

.n-package-cont-details { padding-top: 20px; }
.cm-field-main {
	margin-bottom: 0px;
	user-select: none;
}
.cm-field-main p {
	font-size: 14px;
	line-height: 16px;
	padding: 0px 0px 7px;
	display: block !important;
}
.cm-field-main .input-field {
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 20px;
	border: 1px solid #e6e8ee;
	background: #FFF;
	padding: 0px 15px;
	border-radius: 5px;
}

.cm-field-main .input-field-big {
  width: 100%;
  height: 60px;
  font-size: 14px;
  line-height: 20px;
  background: #FFF;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #e6e8ee;
}


.input-field.disable { background-color: #f8f8f8;}

.input-field.disable::placeholder { color: #333; opacity: 1; /* Firefox */}
.input-field.disable:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #333;}
.input-field.disable::-ms-input-placeholder { /* Microsoft Edge */color: #333;}


.input-field.n-calender { background: url("../images/calendar-blue.webp") no-repeat right 10px center / 26px;}

.tool-select-main {
margin: 0px;
padding: 0px;
border: 1px solid #e6e8ee;
border-radius: 3px;
overflow: hidden;
border-right: 0px;
}

.tool-select {
height: 36px;
font-size: 14px;
color: #555;
text-align: center;
line-height: 36px;
text-transform: uppercase;
border-right: 1px solid #e6e8ee;
cursor: pointer;
}	



									
									




@media (max-width: 1400px) {
	
.success-left .success-message h3 { background-size: 65px; padding: 25px 0px 25px 80px;}
.success-right { background-size: 90%;}
.success .summary-set p { padding-bottom: 0px;}
.otp-set-main { max-width: 330px !important;} 

.em-404-page { width: 400px;}



}
@media (max-width: 1199.98px) {/*Large devices (desktops, less than 1200px)*/

.em-booking-content-left { padding-right: 30px;}
.otp-set-main { max-width: 350px !important;} 


.disinfection-cleaning-home input[type="radio"] + label span { margin-right: 0px;}



}
@media (max-width: 991.98px) {/*Medium devices (tablets, less than 992px)*/

header .logo {width: 220px; float: left; padding-top: 8px !important;}
.em-mob-icons { display: block; float: right;}
.menu { display: none;}
.em-mob-icons li:first-child {padding-bottom: 0px; padding-top: 0px;}
header .em-back-arrow { display: block;}
header { padding: 0px;}
header .container { padding-right: 0px;}

.em-step-head h2 { font-size: 22px;}
.em-booking-content-section { padding-top: 60px;}
.em-booking-content-left { padding-right: 0px;}
.book-det-cont-set-main h5 { padding: 0px 0px 0px 15px;}
.em-booking-content-right { width:100%; height: 100vh !important; position: fixed; top: 0px; left: 0px; z-index:999; display: none; background: #FFF; overflow-y: scroll; overflow-x: hidden;}
.em-booking-content-right .em-booking-det-cont { border: 0px;}
.em-next-btn { width:100%; position:fixed; left: 0px; bottom:0px; z-index:99; box-shadow: -1px 1px 8px #CCC; }
footer { display: none;}
.em-next-btn-right { text-align: right; padding: 10px 0px;}
.em-next-btn-left .em-back-arrow { height: 62px;display: none;}
.total-price { padding-bottom: 20px;}
.book-det-cont-set-main { padding: 15px 0px 0px 0px;}
.em-extra-ser-cont { padding-top: 6px;}

.mob-coupon_message, /*.coupon_message,*/ .small-close-btn { display: block;}
.coupon_message-main {background: #fff7f7; padding: 0px;}
.coupon_message { background: url(../images/el-warring.png) no-repeat center left / 33px;  padding: 10px 15px 10px 42px;}





.sp-total-price {}
.sp-total-price-set { display: block; padding-top: 10px;}
.sp-total-price-set { font-size: 14px; line-height: 20px; cursor: pointer;}
.sp-total-price-set span { font-size: 18px; font-weight: bold; background: url(../images/el-uparrow-black.png) no-repeat right center / 14px; padding-right: 26px;}
.em-next-btn-right .text-field-button { width: 100%; padding-left: 0px; padding-right: 0px;}
.summary-set .service-type { padding-top: 60px;}
.summary-set h5 { width: 100%; font-size: 18px; position: fixed; z-index: 99; box-shadow: 1px 1px 5px #CCC; background: #FFF; padding-top: 12px;}
.em-booking-content-right h5 span { display: block;}
.em-field-main-set { padding-left: 0px; padding-right: 0px;}
.em-next-btn { padding: 0px 15px}
.em-extra-ser-set { padding: 0px 15px;}
.em-bottom-space { height: 63px;}
.em-booking-det-cont.book-det-cont-set { padding-bottom: 0px;}
.em-booking-content-box { padding-left: 0px; padding-right: 0px;}
.step2 .em-booking-det-cont.book-det-cont-set { padding-left: 0px; padding-right: 0px;}
.em-often-section-box.how-often { padding-top: 10px;}
.login-section, .register-section,  .address-option { padding-left: 0px; padding-right: 0px;}
.login-left-set { padding-bottom: 0px;}
.em-step-head li span { width: 26px; height: 26px; margin-top: -13px;}
.map-view { padding-left: 15px; padding-right: 15px;}

.disinfection-cleaning-home { padding-bottom: 15px;}
.disinfection-cleaning-office {  padding-bottom: 10px;}
/*.disinfection-cleaning-home .how-often,*/ .disinfection-cleaning-office .time-set, .deep-cleaning-home .how-often, .deep-cleaning-office .time-set { padding-left: 0px; padding-right: 0px;}



.owl-carousel { width: 96% !important; margin: 0px auto;}
.success-right { height: 300px; background: url(../images/payment-success-right.png) no-repeat center center / 45%; }
.success-left { padding-right: 0px;}
.success footer { display: block;}
.success footer .footer-left p { text-align: left; line-height: 14px;}
.design { width: 140px; float: right;}
.success .book-details-main-set .book-details-main {padding: 0px 15px 0px 15px;}		
.success .book-details-main-set h6 { padding-left: 15px;}
.success .summary-set p { padding-bottom: 5px;}

.otp-set-main { max-width: 350px !important;} 
.em-terms-and-condition-main, .terms-check { padding-left: 15px; padding-right: 15px;}
.my-account-content-main { margin-bottom: 30px;}



.em-extra-ser-tmb:hover { border-color: #e6e8ee;}
.em-extra-ser-tmb:hover .em-extra-ser-cont { background-color: #FFF; color: #505e7a;}



.tool-select { border-bottom: 1px solid #e6e8ee; }




}
@media (max-width: 767.98px) {/*Small devices (landscape phones, less than 768px)*/

.em-num-cont { width: 94%;}
	
.col-sm-12.my-acc-cont-main.address-opt { width: 86%;}

.signin-set-main { max-width: 400px !important;} 

.package-list-tmb-image-main, .package-list-tmb-cont { padding-left: 0px; padding-right: 0px;}
	

}
@media (max-width: 575.98px) {/*Extra small devices (portrait phones, less than 576px)*/ 

.em-booking-det-cont.book-det-cont-set { border-left: 0px; border-right: 0px; }

.em-extra-ser-img img { width: 80%; margin: 0 auto;}
.em-extra-ser-cont { padding: 5px 0px; text-align:center;}
.owl-buttons { width: 95.5%;}
.owl-prev { margin-left: 10px;}
.how-often li { margin-bottom: 10px;}
.how-often li label {width: 138px;}
.em-extra-ser-img img { width: 100%; margin:0 auto;}
.n-extra-ser { padding: 0px 5px;}

.success-left .success-message h3 { font-size: 20px; line-height: 20px; background-size: 60px; padding: 20px 0px 20px 75px }
.success-left .success-message h3 span { font-size: 15px;}
.em-num-cont { width: 93%;}
	
.my-book-tab p { font-size: 15px; padding: 15px 0px; }	
.my-book-tmbnil-cont-main { padding: 20px 15px 30px 15px !important;}
.my-book-tmbnil-cont-main h5 { font-size: 16px;}
.my-book-tmbnil-cont-main h5 span { font-size: 14px;}
.my-book-tmbnil-cont-main p { font-size: 13px;}
.my-book-tmbnil-btn li a { padding: 5px 15px;}

.book-his-pop-main .book-details-main-set .book-details-main, .book-his-pop-main .summary-set h5, .book-details-main-set h6 { padding-left: 20px; padding-right: 20px;}

.em-booking-det-cont.my-account-content-main { padding: 5px 15px;}

.my-acc-que-cont {font-size: 13px;}
.my-acc-ans-cont, .my-acc-ans-cont .text-field {font-size: 14px; line-height: 18px;}

.em-404-page { width: 70%;}

}
@media (max-width: 475.98px) { 

.success-right { height: 225px; background-size: 50%; }
.em-num-cont { width: 92%;}

.col-sm-12.my-acc-cont-main.address-opt { width: 80%;}
.signin-set-main { max-width: 90% !important;} 

.pra-image {
  width: 100%; }

}	
@media (max-width: 375.98px) { 

.success-right { height: 225px; background-size: 60%; }
.success-left  .success-message h3 { font-size: 19px;}
.success-left  .success-message h3 span { font-size: 15px;}
.otp-set-main { max-width: 90% !important;}
.em-num-cont { width: 90%;}





}	

@media (max-width: 991.98px) { 
.footer-widget-area .col-lg-3 { width: 20% !important;}
}
@media (max-width: 767.98px) { 
.footer-widget-area .col-lg-3 { width: 33% !important;}

.em-ser-srl-tmb-cont p { height: 62px; flex-direction: column; justify-content: center !important; display: flex;}


}
@media (max-width: 575.98px) { 
.footer-widget-area .col-lg-3 { width: 50% !important;}
}
@media (max-width: 475.98px) { 
.footer-widget-area .col-lg-3 { width: 100% !important;}

/*.em-ser-scroll-thumb { min-height: 255px;}*/

header .logo { width: 210px;}


}
li.em-disable { display: none;}
.em-text-field-main ul.only-valuebox { border: 0px; border-left: 1px solid #e6e8ee; }
.em-text-field-main ul.only-valuebox li { border-right: 1px solid #e6e8ee; border-top: 1px solid #e6e8ee; border-bottom: 1px solid #e6e8ee; }
.em-text-field-main ul.only-valuebox li.selected { border: 1px solid #277d98;}

.em-box-9 li { width: 100%;}
rf:after {
	content: " *";
	color: red;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #1b5880 #f2f2f2;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 7px;
}

*::-webkit-scrollbar-track {
	background: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
	background-color: #1572c6;
	border-radius: 10px;
	border: 3px solid #1572c6;
}

/**************************************************************/
.radio-checkbox-boxed ul {
	list-style-type: none;
}
.radio-checkbox-boxed label:hover {
	background-color: #B4B4B4;
	color: #000 !important;
}
.radio-checkbox-boxed input[type="radio"] {
	opacity: 0;
	position: fixed;
}
.radio-checkbox-boxed label {
	background-color: #fff;
	color: #555 !important;
	padding: 7px 20px;
	font-size: 14px;
	border: 1px solid #B4B4B4;
	text-transform: uppercase;
	min-height:36px;
	overflow: hidden;
	text-align: center;
	font-family: 'Roboto', Sans-Serif;
}
.radio-checkbox-boxed ul li {
	display: table-cell;
	color: #000;
}
.radio-checkbox-boxed ul li:last-child label {
	border-radius: 0px 3px 3px 0px;
}
.radio-checkbox-boxed ul li:first-child label {
	border-radius: 3px 0px 0px 3px;
}
.radio-checkbox-boxed ul li:not(:first-child) label,.radio-checkbox-boxed ul li:not(:first-child) input[type="radio"]:checked + label {
	border-left:0px;
}
.radio-checkbox-boxed ul li:only-child label {
	border-radius: 3px;
}
.radio-checkbox-boxed input[type="radio"]:focus+label {
	color: #000;
}
.radio-checkbox-boxed input[type="radio"]:checked+label {
	background-color: #1572c6;
	color: #fff !important;
	border: 1px solid #1572c6;
}
/**************************************************************/
div.checkbox_multi{
	margin-bottom: 8px;
}
div.checkbox_multi input[type="checkbox"] {
	display: none;
}
div.checkbox_multi input[type="checkbox"]+label {
	width: 100%;
	font-size: 13px;
	display: inline-block;
	border-radius: 5px;
	padding: 8px 8px 5px 5px;
	background: #c9efcf;
	color: #666;
}
div.checkbox_multi input[type="checkbox"]+label:hover {
	background: #B4B4B4;
	color: #fff;
}
div.checkbox_multi input[type="checkbox"]:checked+label {
	background: #1572c6;
	color: #ffffff;
}
div.checkbox_multi input[type="checkbox"]+label span {
	width: 34px;
	height:34px;
}
div.checkbox_multi input[type="checkbox"]+label span {
	background: #FFF url(../images/el-plus.png) no-repeat center center / 14px;
	border: 1px solid #c6bdbd;
}
div.checkbox_multi input[type="checkbox"]:checked+label span {
	background: #FFF url(../images/el-tick.png) no-repeat center center / 14px;
	border: 1px solid #c6bdbd;
	color: #ffffff;
}
div.checkbox_multi input[type="checkbox"]:checked+label:hover span {
	background: #FFF url(../images/el-minus.png) no-repeat center center / 14px;
	border: 1px solid #c6bdbd;
	color: #ffffff;
}
div.checkbox_multi input[type="checkbox"]:checked[disabled]+label span {
	background: #FFF url(../images/el-lock.png) no-repeat center center / 14px;
	border: 1px solid #c6bdbd;
	color: #ffffff;
}
/**************************************************************/
div.radio {
	margin-bottom: 8px;
}

div.radio input[type="radio"] {
	display: none;
}

div.radio input[type="radio"]+label {
	width: 100%;
	font-size: 13px;
	display: inline-block;
	border-radius: 5px;
	padding: 8px 8px 5px 5px;
	background: #c9efcf;
	color: #555;
}

div.radio input[type="radio"]+label:hover {
	background: #B4B4B4;
	color: #fff;
}

div.radio input[type="radio"]:checked+label {
	background: #1572c6;
	color: #ffffff;
}
div.radio input[type="radio"]+label span {
	width: 34px;
	height: 34px;
}
div.radio input[type="radio"]+label span {
	background: #FFF url(../images/el-plus.png) no-repeat center center / 14px;
	border: 1px solid #c6bdbd;
}

div.radio input[type="radio"]:checked+label span {
	background: #FFF url(../images/el-tick.png) no-repeat center center / 14px;
	border: 1px solid #c6bdbd;
	color: #ffffff;
}
/**************************************************************/
/* dev mode */
.checkbox-extra-service {
padding: 0px 30px;
}
.checkbox-extra-service .service {
	width: 100%;
	border: 1px solid #e6e8ee;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.checkbox-extra-service .service:hover {
	border: 1px solid #B4B4B4;
	border-radius: 5px;
}
.checkbox-extra-service .service:has(input[type="checkbox"]:checked) {
	border: 1px solid #1572c6;
}
.checkbox-extra-service .service .img-box {
	margin: 0;
	padding: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.checkbox-extra-service .service .content-box {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 18px 0px 0px 20px;
	border-left: #f7f7f7 1px solid;
}
.checkbox-extra-service .service:hover .content-box{
	background-color: #B4B4B4;
	color: #fff;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.checkbox-extra-service input[type="checkbox"]+label {
	width: 100%;
	margin-bottom: 0rem;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.checkbox-extra-service input[type="checkbox"]:checked+label {
	background: #fff;
	border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
}
/*.checkbox-extra-service input[type="checkbox"]+label img{
	padding:8px;
}*/

.checkbox-extra-service input[type="checkbox"]+label img{
	padding: 0px;
}


.checkbox-extra-service input[type="checkbox"]:checked+label .img-box {
	background-color: #fff;
}
.checkbox-extra-service input[type="checkbox"]:checked:hover+label .img-box {
	background-color: #fff;
}
.checkbox-extra-service input[type="checkbox"]:checked:hover+label .content-box {
	background-color: #1572c6;
}
.checkbox-extra-service input[type="checkbox"]:checked+label .content-box {
	background-color: #1572c6;
	color: #fff;
}
/*************************************************************************************/
body .demo-ribbon {
	position:fixed;
	right: 0px;
	top: 25px;
	z-index: 999;
	overflow: hidden;
	width: 60px;
	height: 70px;
	text-align:center;
}

body .demo-ribbon span {
	font-size: 10px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	width: 100px;
	display: block;
	background: #79A70A;
	background: linear-gradient(#9BC90D 0%, #79A70A 100%);
	position: absolute;
	top: 25px;
	left:0px;
	letter-spacing: .2rem;
}

body .demo-ribbon span::after {
	content: "";
	position: absolute;
	right: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid transparent;
	border-right: 3px solid #1572c6;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #1572c6;
}
/*************************************************************************************/